<!DOCTYPE html>
<html>
<head>
    <title>AI Hostel Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>AI Hostel Management System</h1>
</header>

<div class="container">

    <div class="card">

        <h2>Smart Hostel Features</h2>

        <div class="dashboard-grid">

            <div class="feature-box">
                <h3>🏠 Room Allocation</h3>
                <p>Automatic hostel room management system.</p>
            </div>

            <div class="feature-box">
                <h3>😊 Face Recognition</h3>
                <p>AI based hostel entry system.</p>
            </div>

            <div class="feature-box">
                <h3>📋 Attendance</h3>
                <p>Student attendance tracking dashboard.</p>
            </div>

            <div class="feature-box">
                <h3>⚠ Complaint Portal</h3>
                <p>NLP based complaint analysis system.</p>
            </div>

            <div class="feature-box">
                <h3>🍴 Mess Feedback</h3>
                <p>AI sentiment analysis for mess reviews.</p>
            </div>

            <div class="feature-box">
                <h3>📊 Analytics</h3>
                <p>Student behavior analytics and reports.</p>
            </div>

        </div>

    </div>

    <div class="card">

        <h2>Dashboard</h2>

        <a href="/admin">
            <button>Admin Dashboard</button>
        </a>

        <a href="/complaint">
            <button>Complaint Portal</button>
        </a>

        <a href="/mess">
            <button>Mess Feedback</button>
        </a>

        <a href="/attendance">
            <button>Attendance System</button>
        </a>

    </div>

</div>

</body>
</html>